{% extends 'base.html' %}
{% block title %}
    {{ user.name }}
{% endblock %}
{% block header %}
    <a href="{{ url_for('users.edit_user', id=user.id) }}" class="btn btn-primary">Edit</a>
    {#    Change password button#}
    <a href="{{ url_for('users.change_password', id=user.id) }}" class="btn btn-primary">Change password</a>
    {#    Delete button#}
    <a href="{{ url_for('users.delete_user', id=user.id) }}" class="btn btn-danger">Delete</a>
    {#    Back button#}
{% endblock %}
{% block content %}
    Name
    <h1>
        {{ user.name }}
    </h1>
    Username
    <h2>
        {{ user.username }}
    </h2>
    <div class="mt-2">
        <label for="email">Email </label>
        <span id="email">
            {{ user.email or '' }}
        </span>
    </div>
    <div class="mt-2">
        <label for="phone">Phone </label>
        <span id="phone">
                {{ user.phone or '' }}
        </span>
    </div>

    <div class="mt-2">
        <label for="is_admin">Admin </label>
        <span id="is_admin">
                {% if user.is_admin %}
                    <input type="checkbox" checked disabled>
                {% else %}
                    <input type="checkbox" disabled>
                {% endif %}
            </span>
    </div>
{% endblock %}