{% extends 'base.html' %}
{% block title %} Users {% endblock %}
{% block content %}
    <button class="btn btn-primary my-2" onclick="window.location.href='{{ url_for('users.new_user') }}'">Add User</button>
    <table class="table table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Name</th>
                <th>Username</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>
                        <a href="{{ url_for('users.user_by_id', user_id=user.id) }}">
                            <div>{{ user.name }}</div>
                        </a>
                    </td>
                    <td>
                        <a href="{{ url_for('users.user_by_id', user_id=user.id) }}">
                            <div>{{ user.username }}</div>
                        </a>
                    </td>
                    <td>
                        <a href="{{ url_for('users.user_by_id', user_id=user.id) }}">
                            <div>{{ user.email }}</div>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}