{% extends 'base.html' %}
{% block title %}Tasks{% endblock %}
{% block head %}
    <style>
        a {
            text-decoration: none;
            color: black;
        }
    </style>
{% endblock %}
{% block content %}
    <h1>Tasks</h1>
    <button class="btn btn-primary my-2" onclick="window.location.href='/tasks/new'">Create Task</button>

    <table class="table table-bordered table-hover mt-4">
        <thead class="thead-dark">
            <tr>
                <th>Task Name</th>
                <th>Task Description</th>
            </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
                <tr>
                    <td>
                        <a href="/tasks/{{ task.id }}">
                            <div>
                                {{ task.name }}
                            </div>
                        </a>
                    </td>
                    <td>
                        <a href="/tasks/{{ task.id }}">
                            <div>
                                {{ task.description }}
                            </div>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

