{% extends 'base.html' %}
{% block title %}Groups{% endblock %}
{% block content %}
    <button class="btn btn-primary my-2" onclick="window.location.href='{{ url_for('groups.new_group') }}'">Create Group
    </button>
    <h1>Groups</h1>
    <table class="table table-bordered table-hover mt-4">
        <thead class="thead-dark">
            <tr>
                <th>Group Name</th>
            </tr>
        </thead>
        <tbody>
            {% for group in groups %}
                <tr>
                    <td>
                        <a class="row-link" tabindex="-1" href="{{ url_for('groups.group_by_id', group_id=group.id) }}"
                           style="text-decoration: none; color: black">
                            <div>{{ group.name }}</div>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}