{% extends 'base.html' %}
{% block title %}Groups{% endblock %}
{% block content %}
    <main>
        <button><a href="{{ url_for('new_group') }}">New Group</a></button>
        <h1>Groups</h1>
        <table>
            <thead>
                <tr>
                    <th>Group Name</th>
                </tr>
            </thead>
            <tbody>
                {% for group in groups %}
                    <tr>
                        <td>
                            <a href="{{ url_for('group_by_id', group_id=group.id) }}">{{ group.name }}</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
{% endblock %}