{% extends 'base.html' %}
{% block title %}
    Add new group {% endblock %}
{% block head %}
    <script>
        insertUserRow = function (user, username) {
            var table = document.getElementById('users');
            var row = table.insertRow(-1);
            var cell1 = row.insertCell(0);
            var cell2 = row.insertCell(1);
            cell1.innerHTML = '<input type="text" name="new_user">';
            cell2.innerHTML = '<input type="text" name="new_username">';
        };
    </script>
{% endblock %}
{% block content %}
    <form action="/groups/new" method="post">
        <label for="name">Name</label>
        <input type="text" name="name" id="name">
        <table id="users">
            <tr>
                <th>User</th>
                <th>Username</th>
            </tr>
            {% for user in users %}
                <tr>
                    <td><input type="checkbox" name="users[]" value="{{ user.id }}"></td>
                    <td>{{ user.username }}</td>
                </tr>
            {% endfor %}
            <tr>
                <td><input type="text" name="new_user"></td>
                <td><input type="text" name="new_username"></td>
            </tr>
            <button type="button" onclick="insertUserRow()">Add</button>
        </table>
        <button type="submit">Add</button>
    </form>
{% endblock %}
```