<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Home</title>
        <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" type="text/css">
        <style>
            .app {
                background-color: #f9f9f9;
                border: 1px solid #ddd;
                padding: 20px;
                margin-bottom: 20px;
            }

            h2 {
                font-size: 24px;
            }

            .container {
                display: flex;
                flex-direction: row;
            }

        </style>
    </head>
    <body>
        <main class="container">
            <a href="{{ url_for('projects') }}">
                <section id="projects" class="app">
                    <h2>Projects App</h2>
                    <!-- Thêm nội dung của ứng dụng Projects ở đây -->
                </section>
            </a>
            <a href="{{ url_for('tasks') }}">
                <section id="tasks" class="app">
                    <h2>Tasks App</h2>
                    <!-- Thêm nội dung của ứng dụng Tasks ở đây -->
                </section>
            </a>
            <a href="{{ url_for('settings') }}">
                <section id="settings" class="app">
                    <h2>Settings App</h2>
                    <!-- Thêm nội dung của ứng dụng Settings ở đây -->
                </section>
            </a>
        </main>
    </body>
</html>
