{% extends 'base.html' %}
{% block title %} Projects {% endblock %}
{% block content %}
    <h1>Projects</h1>
    <div class="kanban">
        <div class="kanban-heading">
            <strong class="kanban-heading-text">Projects</strong>
        </div>
        <div class="kanban-board">
            {% for project in projects %}
                <div class="kanban-block project">
                    {{ project.name }}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
