<div class="sidebar box-shadow">
    <div class="d-flex flex-column justify-content-between p-2"
         style="border-bottom: 1px solid #dddddd">
        <div class="sidebar-item">
            Home
        </div>
        <a href="{{ url_for('tasks.tasks') }}">
            <div class="sidebar-item">
                Tasks
            </div>
        </a>
        {% if current_user.is_admin %}
            <a href="{{ url_for('users') }}">
                <div class="sidebar-item">
                    Users
                </div>
            </a>
        {% endif %}
    </div>
    <div class="sidebar-content">
        <div id="my-projects" class="m-1 p-1 d-flex justify-content-between sidebar-content-header">
            <span>my projects</span>
            <a href="{{ url_for('projects.new_project') }}">
                <span class="add-project border border-primary py-1 px-2 rounded-2">
                    +
                </span>
            </a>
        </div>

        <div class="project-list">
            {% for project in projects %}
                {% if project.id == session.active_project_id %}
                    <div class="project-item active"
                         onclick="window.location.href='{{ url_for('projects.project_by_id', project_id=project.id) }}'">
                        <p>{{ project.name }}</p>
                        <span>...</span>
                    </div>

                {% else %}
                    <div class="project-item"
                         onclick="window.location.href='{{ url_for('projects.project_by_id', project_id=project.id) }}'">
                        <p>{{ project.name }}</p>
                        <span>...</span>
                    </div>
                {% endif %}

            {% endfor %}
        </div>
    </div>
</div>