:root {
    --sidebar-width: 250px;
    --header-height: 67px;
}

* {
    box-sizing: border-box;
}

.box-shadow {
    box-shadow: rgba(0, 0, 0, 0.1) 0 0 12px;
}

/* =============== / HEADER /  ===============  */
.header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 8px;
    background-color: #333;
    border-bottom: 1px solid #ddd;
    height: 67px;
}

.header-icon {
    flex: 1;
    font-family: Inter;
    font-weight: 700;

    > a {
        font-size: 24px;
        color: #eee;
        user-select: none;
        cursor: pointer
    }
}

.search-bar {
    max-width: 45%;
    width: 600px;
    margin: 10px 0;

    > input {
        border-radius: 4px;
        border: 1px solid #999;
        outline: none;
    }
}

.logout {
    border-left: 1px solid #ccc;
    margin-left: 8px;
    padding: 4px 8px;
    transition: background-color 0.15s;

    &:hover {
        cursor: pointer;
        background-color: #555;

        > svg {
            fill: #cccccc;
        }
    }

    > svg {
        width: 20px;
        height: 20px;
    }
}

/* =============== / SIDEBAR /  ===============  */
.sidebar {
    background-color: #fff;
    width: var(--sidebar-width);
    height: 100%;
    border-right: 1px #ddd solid;
}

.sidebar-item {
    color: #555;
    font-size: 18px;
    font-weight: 500;
    font-family: Inter;
    text-transform: uppercase;
    padding: 4px;
}

.sidebar-content-header {
    padding: 4px;
    margin: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    > span {
        color: #555;
        font-size: 16px;
        text-transform: uppercase;
        user-select: none;
    }

    > a {

        > span {
            font-size: 16px;
            font-weight: 600;
            color: #0d6efd;
            transition: background-color 0.15s;

        }

        &:hover > span {
            background-color: #0d6efd;
            color: #fff;
        }
    }
}

.project-list {
    display: flex;
    flex-direction: column;
    padding: 8px 0;
}

.project-item {
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.15s;

    &.active {
        background-color: #dedede;
    }

    > p {
        margin-bottom: 0;
        color: #555;
    }

    > span {
        color: #555;
        font-weight: 900;
    }

    &:hover {
        cursor: pointer;
        background-color: #dedede;
    }


}

/* =============== / CONTENT /  ===============  */

.content-header {
    background-color: #777;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;

    > h2 {
        font-family: Inter;
        color: #eee;
        margin: 0;
    }

    > button {
        color: #ffffff;
        background-color: #66a7ff;
        transition: background-color 0.15s;

    }

    > button:hover {
        background-color: #4294ff;
        color: #ffffff;
    }
}

.content {
    display: flex;
    flex-direction: column;
    max-width: calc(100vw - var(--sidebar-width));
    width: 100%;
}

.project {
    background-color: #ccc;
    white-space: nowrap;
    position: relative;
    flex: 1;
    padding: 12px 12px 32px;
    overflow-y: hidden;
    overflow-x: auto;
}

.project-col {
    padding: 8px;
    background-color: #fff;
    width: 320px;
    margin-right: 12px;
    border-radius: 10px;
    border: none;
    display: inline-flex;
    flex-direction: column;
    max-height: 100%;

    .project-header {
        height: 32px;

        > h4 {
            margin-top: 8px;
            text-transform: capitalize;
        }

    }

    .project-detail {
        flex: 1;
        overflow-y: auto;
    }
}


.task {
    background-position: center;
    background-size: cover;
    height: auto;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 0.5rem;
    border-radius: 0.3rem;
    margin: 0.5rem;

    /*.task-box > a,*/
    /*.task-box > div {*/
    /*    user-select: none;*/
    /*    pointer-events: none;*/
    /*}*/
}

/* ============================== / PROJECT /  ==============================  */
.box {
    padding: 16px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    > .box-content {
        width: 100%;
        background-color: #ffffff;
        padding: 16px 20px;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.form-line {
    margin: 8px 0;
}

.submit {
    background-color: #66a7ff;
    color: #fff;
    outline: none;
    border: none;
    border-radius: 4px;
    transition: background-color 0.2s;
    height: 36px;
    width: 160px;
    display: block;
    margin: 24px auto 16px;

    &:hover {
        cursor: pointer;
        background-color: #4294ff;

    }
}