body {
    font-family: Arial, sans-serif;
    background-color: #dedede;
    margin: 0;
    padding: 0;
}

.font-inter {
    font-family: Inter;
    font-weight: 500;
    word-wrap: break-word
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    display: flex;
    flex-direction: row;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

main {
    margin: 20px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: black;
}

label {
    min-width: 100px;
    display: inline-block;
}

/*.kanban {*/
/*    width: 70%;*/
/*    min-width: 50%;*/
/*    margin: auto;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*}*/

.kanban-heading-text {
    font-size: 1.8rem;
    background-color: tomato;
    padding: 0.8rem 1.7rem;
    border-radius: 0.5rem;
    margin: 1rem;
}

/*.kanban-board {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    justify-content: space-between;*/
/*    font-family: sans-serif;*/
/*}*/


/*.state-box {*/
/*    border: 1px solid #ccc;*/
/*    border-radius: 0.3rem;*/
/*    padding: 0.5rem;*/
/*}*/

/*.task-box {*/
/*    padding: 0.6rem;*/
/*    width: 30.5%;*/
/*    min-width: 14rem;*/
/*    min-height: 100vh;*/
/*    font-family: Inter;*/
/*}*/




/* JavaScript */
.drag-over {
    background-color: lightblue;
    cursor: pointer;
}

@media (max-width: 800px) {
    body {
        flex-direction: column;
    }
}
